body {
    max-width: 100vw;
    font-family: var(--fonte-texto);
}


:root {
    --cor-primaria: rgb(243, 0, 141);
    --cor-fundo: #fda0ea;
    --cor-texto: #ffffff;
    --cor-borda: #fa009f;
    --fonte-texto: 'Segoe UI', sans-serif;
}


.tema-escuro {
    --cor-primaria: rgb(243, 0, 141);
    --cor-fundo: #3b0028;
    --cor-texto: #ffffff;
    --cor-borda: #ff66c4;
}


header {
    background-color: var(--cor-primaria);
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    padding: 16px;
}
